body {
  background-color: black;
  color: white;
}
#network {
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  height: 75dvh;
  max-height: 800px;
  overflow: hidden;
}

#controls {
  display: flex;
  border: 1px solid cyan;
  margin-top: 1em;
}
.control-pad {
  flex-grow: 1;
}

#config-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: .5em;
}

#network > div {
}

#input-image .input-row {
  display: flex;
  flex-direction: row;
}

#input-image .input-row .input-pixel {
  width: .5em;
  height: .5em;
  border: 1px solid #888;
  border-radius: .5em;
  margin: .1em;
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  height: 100%;
}

#input-label {
  font-size: 2em;
  font-family: monospace;
}

#hidden-layers {
  display: flex;
  flex-direction: row;
  row-gap: .5em;
  column-gap: 2em;
  padding: .5em;
}

.hidden-layer {
  display: flex;
  flex-direction: column;
  gap: .25em;
  justify-content: center;
}

.hidden-layer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.neuron-weight {
  border: .2em solid #888;
  margin: .2em;
}

.neuron-weight canvas {
  max-width: 3em;
  max-height: 3em;
  background: #888;
  image-rendering: pixelated;
}

.neuron-output {
  width: 1em;
  font-family: monospace;
  font-size: small;
  color: #aaa;
}

#output {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: .5em;
}

#output > div {
  display: flex;
  flex-direction: row;
  gap: .5em;
  align-items: center;
}

.output-circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: .2em solid #888;
  text-align: center;
}
.output-circle span {
  font-size: 2em;
  font-family: monospace;
  font-weight: bolder;
}

#training-progress-bar {
  width: 100%;
  height: 1em;
  background: #888;
}

#progress-bar-filler {
  height: 100%;
  background: #080;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: left;
  align-items: center;
}

button, input, label {
  font-size: 1.5em;
  border: .1em solid aqua;
  border-radius: .5em;
  background: black;
  color: cyan;
  padding: .5em;
  margin: .5em;
}
.digit-checkbox {
  display: none;
}

.digit-label {
  height: 1em;
  width: 1em;
  font-size: 1.5em;
  text-align: center;
  font-family: monospace;
  cursor: pointer;
}

.digit-checkbox:checked + .digit-label {
  color: black;
  background-color: cyan;
}

button:hover {
  background: cyan;
  color: black;
}

button:active {
  background: #088;
  color: white;
}

.digit-label:hover {
  background: #088;
  color: cyan;
}
.digit-checkbox:checked + .digit-label:hover {
  background: #0cc;
  color: black;
}

button:disabled, input {
  border-color: #ccc;
  background: #333;
  color: #ccc;
}

/* suppress highlighting of labels */
label {
  user-select: none;
}

input {
  border-radius: 0;
  padding: .5em;
  margin: .5em;
  text-align: center;
}

input.changed {
  color: white;
  border-color: cyan;
}

.button-label {
  font-size: 1.5em;
  font-family: sans-serif;
  width: 7em;
  text-align: right;
  color: gray;
}

#training-digits {
  gap: .2em;
}

#space-viz-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#space-viz {
  display: flex;
  justify-content: center;
  align-items: center;
}

#space-viz canvas {
  border: 1px solid white;
}

#progress-bar {
  background: cyan;
  white-space: nowrap;
  overflow: hidden;
  height: .2em;
  display:inline-block;
  border-radius: .2em;
}

#progress-tip{
  border-radius: .2em;
  height: .1em;
  border: .1em;
  box-shadow: 0 0 .5em .2em cyan;
  display: inline-block;
  height: .2em;
  width: .2em;
  background: cyan;
}

#progress-container {
  display: none;
  position: absolute;
  width: 100%;
  font-family: monospace;
}

#progress-label {
  padding-left: 1em;
}