:root {
  --network-height: 75vh;
  --network-height: 75dvh;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
#network {
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: var(--network-height);
  max-height: 800px;
  overflow: hidden;
}

#controls {
  display: flex;
  border: 1px solid cyan;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
}
.control-pad {
  flex-grow: 1;
}

#config-container {
  display: flex;
  width:  100%;
  flex-direction: row;
  gap: 1em;
  padding: .5em;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#network > div {
}
#input-image {
  cursor: crosshair;
}
#input-image .input-row {
  display: flex;
  flex-direction: row;
}

#input-image .input-row .input-pixel {
  width: .5em;
  height: .5em;
  border: 1px solid #888;
  border-radius: .5em;
  margin: .1em;
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
}

#all-layers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    max-height: calc(100% - 8em);
    position: relative;
}

#hidden-layers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;
}

#input-label {
  font-size: 2em;
  font-family: monospace;
}

#hidden-layers {
  display: flex;
  flex-direction: row;
  row-gap: .5em;
  column-gap: 2em;
  padding: .5em;
  max-height: calc( var(--network-height) - 10em);
  align-items: center;
}

.hidden-layer {
  display: flex;
  flex-direction: column;
  gap: .25em;
  justify-content: center;
}

.hidden-layer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.neuron-viz {
  border: 1px solid #333;
  position: relative;
  padding-right: 3em;
}
.neuron-weight {
  border: .2em solid #888;
  margin: .2em;
}

.neuron-weight canvas, .neuron-values canvas, .neuron-inputs canvas {
  max-width: 3em;
  max-height: 3em;
  background: #555;
  image-rendering: pixelated;
}

div.neuron-values canvas {
  background: #444;
}

.neuron-internals {
  display: flex;
  align-items: center;
  gap: .2em;
  margin-right: .2em;
  font-family: monospace;
}

.hide-internals .neuron-internals {
  display: none;
}

.neuron-output {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3em;
  font-family: monospace;
  font-weight: bolder;
  text-align: right;
  text-shadow: 1px 0px 1px white, -1px 0px 1px white, 0px 1px 1px white, 0px -1px 1px white;
  display: flex;
  align-items: center;
  justify-content: end;
}
.neuron-bias {
    color: #00ffff;
    font-weight: bolder;
    text-align: center;
    margin-left: 0.25em;
}
#output {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25em;
  padding: .5em;
}

#output > div {
  display: flex;
  flex-direction: row;
  gap: .5em;
  align-items: center;
  flex-wrap: wrap;
  max-height: 100%;
}
#output .neuron-output {
  display:  none;
}

.output-circle-container {
  display: flex;
  gap: .5em;
  align-items: center;
}
.output-circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: .2em solid #888;
  text-align: center;
}
.output-circle span {
  font-size: 2em;
  font-family: monospace;
  font-weight: bolder;
}

#training-progress-bar {
  width: 100%;
  height: 1em;
  background: #888;
}

#progress-bar-filler {
  height: 100%;
  background: #080;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  order: 1;
}

.buttons .buttons-container {
  display: none;
}

.buttons.show-content {
  order: 2;
  width: 100%;
}

.buttons.show-content .buttons-container {
  display: flex;
  width: 100%;
}

button, input, label {
  font-size: 1.5em;
  border: .1em solid aqua;
  border-radius: .5em;
  background: black;
  color: cyan;
  padding: .5em;
  margin: .5em;
}
.digit-checkbox {
  display: none;
}

.digit-label {
  height: 1em;
  width: 1em;
  font-size: 1.5em;
  text-align: center;
  font-family: monospace;
  cursor: pointer;
}

.digit-checkbox:checked + .digit-label {
  color: black;
  background-color: cyan;
}

button:hover {
  background: cyan;
  color: black;
}

button:active {
  background: #088;
  color: white;
}

.digit-label:hover {
  background: #088;
  color: cyan;
}
.digit-checkbox:checked + .digit-label:hover {
  background: #0cc;
  color: black;
}

button:disabled, input {
  border-color: #ccc;
  background: #333;
  color: #ccc;
}

/* suppress highlighting of labels */
label {
  user-select: none;
}

input {
  border-radius: 0;
  padding: .5em;
  margin: .5em;
  text-align: center;
}

input.changed {
  color: white;
  border-color: cyan;
}

.button-label {
  font-size: 1.5em;
  font-family: sans-serif;
  width: 9em;
  text-align: center;
  color: gray;
  cursor: pointer;
}

.show-content .button-label {
  text-align: right;
}

#training-digits {
  gap: .2em;
}
#training-rate-label
{
  display: inline-block;
  font-family: monospace;
  width: 1.5em;
}
#space-viz-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 505px;
  transition: max-width 1s;
  overflow: hidden;
}
#space-viz-container.minimized {
  max-width: 0;
}

#space-viz-toggle-container {
  transform-origin: top right;
  rotate: 90deg;
  position: absolute;
  right: 0;
  top: 100%;
  font-size: .75em;
}
#space-viz-toggle-container button {
  rotate: 180deg;
}
#space-viz-container.minimized .space-viz-controls {
  display: none;
}

.space-viz-controls {
  max-width: 100%;
  gap: 0;
}
#space-viz-container button {
  font-size: 1em;
}
#space-viz {
  display: flex;
  justify-content: center;
  align-items: center;
}

#space-viz canvas {
  border: 1px solid white;
}

#progress-bar {
  background: cyan;
  white-space: nowrap;
  overflow: hidden;
  height: .2em;
  display:inline-block;
  border-radius: .2em;
}

#progress-tip{
  border-radius: .2em;
  height: .1em;
  border: .1em;
  box-shadow: 0 0 .5em .2em cyan;
  display: inline-block;
  height: .2em;
  width: .2em;
  background: cyan;
}

#progress-container {
  display: none;
  position: absolute;
  width: 100%;
  font-family: monospace;
}

#progress-label {
  padding-left: 1em;
  font-size: 3em;
  text-align: center;
}
div#progress-label-n {
    position: absolute;
    left: 10px;
}

div#progress-label-eta {
    position: absolute;
    right: 10px;
}

.hidden {
  display: none;
}